[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/Line-of-Credit"]
	path = lib/Line-of-Credit
	url = https://github.com/debtdao/Line-of-Credit
	branch = develop