# track nightly titanboa releases
git+https://github.com/vyperlang/titanoboa
# git+https://github.com/kibagateaux/titanoboa # for experimental boa features
hypothesis
pytest
pdbpp
jedi
pytest-xdist
pytest-forked
vyper==0.3.7
ipython